# Please add your entries following to the established alphabetical order

java-mqtt-client @IOTA/c8y-data-in-motion
lpwan-backend @IOTA/c8y-data-and-control
microservice @IOTA/c8y-microservice-hosting
mqtt-service @IOTA/c8y-data-in-motion

/** @IOTA/c8y-platform-management
