[Unit]
Description=@project.description@
After=network.target

[Service]
PIDFile=/var/run/@package.name@.pid
ExecStart= /usr/lib/@package.directory@/start
Restart=on-abort

[Install]
